annotated-types
anyio
cffi
charset-normalizer
colorama
comtypes
cryptography
distro
exceptiongroup
h11
httpcore
httpx
idna
jiter
opencv-python
paho-mqtt
psutil
pycaw
pycparser
pydantic
pydantic_core
pyperclip
pypinyin
six
sniffio
srt
tqdm
typing_extensions
urllib3
vosk
webrtcvad-wheels
websockets
colorlog
edge-tts
soundfile
pydub